.im_message_photo_thumb /*image preview*/,
.img_gif_thumb * /*gif preview*/,
.im_message_video_thumb /*video preview*/,
.im_message_reply_thumb_wrap /*media reply thumb*/,
._placeholder_ /*image send preview*/,
.im_message_document_name /*file preview*/
{
  filter: blur(20px) grayscale(1);
  transition-delay: 0s;
}
.im_message_photo_thumb:hover /*image preview*/,
.im_service_message_photo_thumb,
.img_gif_thumb:hover * /*gif preview*/,
.im_message_video_thumb:hover .im_message_video_thumb /*video preview*/,
.im_message_reply_thumb_wrap:hover /*media reply thumb*/,
._placeholder_:hover /*image send preview*/,
.im_message_document_name:hover /*file preview*/
{
  filter: blur(0) grayscale(0);
  -webkit-transition: -webkit-filter .16s linear;
  transition-delay: 0.3s;
}
