.im_dialog_peer /*List user/group name*/,
.tg_head_peer_title /*Top user/group name*/,
.tg_head_peer_info /*Top group user preview*/,
.md_modal_section_param_value /*Details username*/,
.peer_modal_profile_name /*Details username ~nickname*/,
.peer_modal_profile_name /*Details group name*/,
.md_modal_section_peers_wrap /*Group members*/,
.md_modal_section_param_value /*About user*/,
.md_modal_section_param_value /*About user phone number*/,
.im_message_author /*message author*/,
._26ydt /*Media preview user/group name*/
{
  filter: blur(5px) grayscale(1);
  transition-delay: 0s;
}

.im_dialog_peer:hover /*List user/group name*/,
.tg_head_peer_title:hover /*Top user/group name*/,
.tg_head_peer_info:hover /*Top group user preview*/,
.md_modal_section_param_value:hover /*Details username*/,
.peer_modal_profile_name:hover /*Details username ~nickname*/,
.peer_modal_profile_name:hover /*Details group name*/,
.md_modal_section_peers_wrap:hover /*Group members*/,
.md_modal_section_param_value:hover /*About user*/,
.md_modal_section_param_value:hover /*About user phone number*/,
._26ydt:hover /*Media preview user/group name*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}
