.im_message_from_photo /*profile pic*/
{
  filter: blur(7px) grayscale(1);
  transition-delay: 0s;
}
.im_dialog_photo /*Details profile pic group*/,
.im_dialog_photo /*Details profile pic user*/,
.peer_modal_photo_wrap pull-left /*Details own profile pic*/
{
  filter: blur(12px) grayscale(1);
  transition-delay: 0s;
}

.im_message_from_photo:hover /*profile pic*/,
.im_dialog_photo:hover /*Details profile pic group*/,
.im_dialog_photo:hover /*Details profile pic user*/,
.peer_modal_photo_wrap:hover /*Details own profile pic*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}
